
@{
    Html.AddTitleParts("限制访问");
    Layout = "~/Views/Shared/_TopicLayout.cshtml";
}

<div class="access-page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
                <i class="weui-icon-cancel weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">限制访问</h2>
            <div class="weui-cells__tips">请不要使用电脑来访问该页面</div>
        </div>
    </div>
</div>

