@model NetCommunitySolution.Web.Areas.Admin.Models.Customers.CustomerModel

<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item"><a href="/">返回前台</a></li>
    <li class="layui-nav-item">@Model.NickName</li>
    <li class="layui-nav-item"><a href="@Url.RouteUrl("Logout")">退出</a></li>
</ul>