@model NetCommunitySolution.Web.Areas.Admin.Models.Customers.CustomerReportModel

<div class="info-box layui-clear">
    <span class="info-box-icon bg-aqua">
        <i class="layui-icon">&#xe612;</i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">代理商</span>
        <span class="info-box-number">@Model.AgentCount</span>
        <span class="info-box-number">总用户量 @Model.CustomerCount</span>
    </div>
</div>