@model NetCommunitySolution.Web.Areas.Admin.Models.Orders.AgentReportModel
<div class="info-box layui-clear">
    <span class="info-box-icon bg-green">
        <i class="layui-icon">&#xe857;</i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">代理额</span>
        <span class="info-box-number"><i class="fa fa-rmb"></i>@Model.AgentTotal</span>
    </div>
</div>