@model NetCommunitySolution.Web.Areas.Admin.Models.Orders.TradingModel
<div class="info-box layui-clear">
    <span class="info-box-icon bg-red">
        <i class="layui-icon">&#xe628;</i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">昨日交易</span>
        <span class="info-box-number">@(Model.Number)笔，<i class="fa fa-rmb"></i>@Model.Total</span>
        <span class="info-box-number">总分润，<i class="fa fa-rmb"></i>@Model.Balance</span>
    </div>
</div>