@using NetCommunitySolution.Common;
@using NetCommunitySolution.CacheNames;
@{
    ViewBag.Title = "我的信用卡";
 
}
<div class="home-page">
    <div class="weui-panel weui-panel_access home-panel">
        <div class="home-panel-subtitle">
        </div>
        <div class="home-panel-subtitle">
        </div>
        <div class="home-panel-button">
            <a class="weui-btn weui-btn_plain-primary" href="@Url.RouteUrl("Payment")">立即借款</a>

        </div>
    </div>    

    <div class="page__bd page__bd_spacing">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">街旁闪付</a>
                <a href="javascript:void(0);" class="weui-footer__link">放心管家</a>
            </p>
            <p class="weui-footer__text">Copyright &copy; 2008-2016 weui.io</p>
        </div>
    </div>
</div>