@model string
@using NetCommunitySolution;
@{
    var imgId = CommonHelper.GenerateCode(4);
}
<div class="picture-url upload-img">
    <img id="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)-preview-@imgId" src="@if (!String.IsNullOrWhiteSpace(Model)) { <text>https://e1.img.vyicoo.cn/@Model</text>} else { <text>/images/photo.png</text>}" class="preview" />
    <input id="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)-@imgId" name="image" class="input-upload-img weui-uploader__input" type="file" multiple="multiple" accept="image/*" >
    @Html.HiddenFor(model => model)
</div>
<script type="text/javascript">
    $(function () {
        $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)-@imgId").change(function () {

            var formData = new FormData();
            formData.append("image", $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)-@imgId")[0].files[0]);
            $.ajax({
            type: "POST",
                url: "@(Url.Content("~/Customer/AsyncUploadImage"))",
                data: addAntiForgeryToken(formData),
                // 告诉jQuery不要去处理发送的数据
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType: false,
                enctype: "multipart/form-data",
                beforeSend: function () {
                    var $loadingToast = $('#loadingToast');
                    if ($loadingToast.css('display') != 'none') return;
                    $loadingToast.fadeIn(100);
                },
                success: function (data) {
                    $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)-preview-@imgId").attr("src", "https://e1.img.vyicoo.cn/" + data.Url);
                    $("#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)").val(data.Url);
                    var $loadingToast = $('#loadingToast');
                    $loadingToast.hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var $loadingToast = $('#loadingToast');
                    $loadingToast.hide();
                    alert("上传失败，请检查网络后重试");
                }
            });
        });
    });

</script>